
body {
    background-image: url("../assets/back.png");
    /* background: repeat-y center/80% url("../assets/Tortank.png"); */
    margin: 0;
    font-family: sans-serif;
}

.box {
    height: 730px;
    width: 800px;
    background-image:linear-gradient(rgb(0, 255, 255), rgb(53, 30, 226));
    text-align: center;
    padding-bottom: 1em;
    color: rgb(11, 4, 49);
    float: left;
    margin: 1em;
    margin-bottom: 2em;
    margin-left: 9em;
    border: rgb(20, 37, 133) solid 6px;
    border-radius: 12   px;
}

.link {
    height: 250px;
    width: 300px;
    background-image:linear-gradient(rgb(0, 255, 255), rgb(53, 30, 226));
    text-align: center;
    padding-bottom: 1em;
    color: rgb(11, 4, 49);
    float: left;
    margin: 1em;
    margin-bottom: 2em;
    margin-left: 3em;
    border: rgb(20, 37, 133) solid 6px;
    border-radius: 12px;
}

.header {
    border: rgb(10, 0, 95) solid 0.4em;
    border-radius: 1em;
    height: 90px;
    padding: 2em;
    padding-bottom: 3.2em;
    background : url('https://st2.depositphotos.com/1502315/11128/i/950/depositphotos_111283646-stock-photo-dark-blue-texture.jpg.');
    margin: 3em;
    background-color: rgb(0, 26, 255);
}

.header img {
    filter: drop-shadow(30px 10px 4px #03033b);
}

.link img {
    filter: drop-shadow(10px 10px 5px #03033b);
}

.box img {
    filter: drop-shadow(10px 10px 5px #03033b);
}