body {
    background-image: url("../assets/4kwtf.jpg");
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    border: rgb(10, 0, 95) solid 0.4em;
    border-radius: 1em;
    height: 200px;
    padding: 2em;
    padding-bottom: -1em;
    background-image: url("../assets/header-background.jpg");
    margin: 3em;
    backdrop-filter: blur(50px);
}

.header img {
    filter: drop-shadow(30px 20px 3px #03033b);
}

.square {
    height: 380px;
    width: 300px;
    text-align: center;
    float: left;
    margin: 1em;
    margin-bottom: 5em;
    margin-left: 4.2em;
    border: rgb(20, 37, 133) solid 5px;
    border-radius: 10px;
    background-image:linear-gradient(rgb(0, 255, 255, 0.9), rgb(53, 30, 226, 0.9));
}

.animals img {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 78%;
    filter: drop-shadow(15px 10px 10px #07076b);
}

.animals p{
    font-size: 1.76em;
    font-weight: 800;
    color: rgb(20, 37, 133);
}

#searchbar{
    margin-left: 8%;
    padding:15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

#list{
    font-size:  1em;
    margin-left: 150px;
}

.animals{
    display: list-item;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-list {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item a {
    color: #000;
    letter-spacing: 1.2px;
}

.nav-item:first-child {
    margin-right: auto;
}
