body {
    background-image: url("../assets/mer.jpg");
    margin: 0;
}

.header {
    border: rgb(10, 0, 95) solid 0.4em;
    border-radius: 1em;
    height: 90px;
    padding: 2em;
    padding-bottom: 3.2em;
    background : url('https://st2.depositphotos.com/1502315/11128/i/950/depositphotos_111283646-stock-photo-dark-blue-texture.jpg.');
    opacity: 0.8;
    margin: 3em;
    background-color: rgb(0, 26, 255);
}
    
.square {
    max-width: 100%;
    height: 400px;
    background-color: #351ee2;
    text-align: center;
    padding-bottom: 1em;
    color: rgb(0, 195, 255);
    float: left;
    margin: 1em;
    margin-bottom: 2em;
    margin-left: 3em;
    border: rgb(20, 37, 133) solid 6px;
    border-radius: 6px;
}

.square p{
    margin: auto;
    margin-bottom: 0;
}

.pokemon {
    margin-left: auto;
    margin-right: auto;
}

.pokemon img {
    max-width: 100%;
    padding: 20px;
}

p {
    font-size: 2em;
}