.header {
    border: black solid 0.5em;
    height: 90px;
    margin: 0;
    background : url('img/bandeau-photo.jpg');
}

.square {
    background-color: #241593;
    text-align: center  ;
    color: #004dff;
    float: left;
    padding: 1em;
    border: black solid 6px;
    border-radius: 6px;
}

img {
    padding: 1em;
}

p {
    font-size: 2em;
}